---
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import BlogCard from "../assets/images/blog-card.webp";
import Blogger from "../assets/images/nikhil-prajapati-image.png";
import Clock from "../assets/images/clock-icon.svg";

const Tag = [ "Ai Automation", "E Commerce", "Healthcare", "Insurance", "Marine", "Media & Entertainment", "Real Estate", "Retail & Hospitality", "Travel & Tourism"]

const Card = [
    {
        Image: BlogCard,
        Tag: "Travel & Tourism",
        Title: "Giriraj Digital Becomes Umbraco Gold Contributing Partner",
        Date:  "Feb 05, 2025",
        Author: "Nikhil Prajapati",
        BloggerImage: Blogger,
        ReadTime: "4",
        Link: "/"
    },
    {
        Image: BlogCard,
        Tag: "Travel & Tourism",
        Title: "Giriraj Digital Becomes Umbraco Gold Contributing Partner",
        Date:  "Feb 05, 2025",
        Author: "Nikhil Prajapati",
        BloggerImage: Blogger,
        ReadTime: "4",
        Link: "/"
    },
    {
        Image: BlogCard,
        Tag: "Travel & Tourism",
        Title: "Giriraj Digital Becomes Umbraco Gold Contributing Partner",
        Date:  "Feb 05, 2025",
        Author: "Nikhil Prajapati",
        BloggerImage: Blogger,
        ReadTime: "4",
        Link: "/"
    },
    {
        Image: BlogCard,
        Tag: "Travel & Tourism",
        Title: "Giriraj Digital Becomes Umbraco Gold Contributing Partner",
        Date:  "Feb 05, 2025",
        Author: "Nikhil Prajapati",
        BloggerImage: Blogger,
        ReadTime: "4",
        Link: "/"
    },
    {
        Image: BlogCard,
        Tag: "Travel & Tourism",
        Title: "Giriraj Digital Becomes Umbraco Gold Contributing Partner",
        Date:  "Feb 05, 2025",
        Author: "Nikhil Prajapati",
        BloggerImage: Blogger,
        ReadTime: "4",
        Link: "/"
    },
    {
        Image: BlogCard,
        Tag: "Travel & Tourism",
        Title: "Giriraj Digital Becomes Umbraco Gold Contributing Partner",
        Date:  "Feb 05, 2025",
        Author: "Nikhil Prajapati",
        BloggerImage: Blogger,
        ReadTime: "4",
        Link: "/"
    },
    {
        Image: BlogCard,
        Tag: "Travel & Tourism",
        Title: "Giriraj Digital Becomes Umbraco Gold Contributing Partner",
        Date:  "Feb 05, 2025",
        Author: "Nikhil Prajapati",
        BloggerImage: Blogger,
        ReadTime: "4",
        Link: "/"
    },
]

const PopularBlogList = [
    {
        Name: "Top 5 Umbraco Hosting Options",
        ReadTime: "4",
        Link: "/"
    },
    {
        Name: "Nikhil Joins the Umbraco CMS Advisory Board 2025",
        ReadTime: "4",
        Link: "/"
    },
    {
        Name: "The Detailed Guide to Hiring Umbraco Developers from the Outsourcing Company!",
        ReadTime: "4",
        Link: "/"
    },
    {
        Name: "What is Umbraco DXP and how it is helping businesses to provide a better user experience?",
        ReadTime: "4",
        Link: "/"
    },
    {
        Name: "Umbraco 8 End of Life: Why You Need to Upgrade Now!",
        ReadTime: "4",
        Link: "/"
    },
    {
        Name: "Meet the Experienced Umbraco Team at Giriraj Digital!",
        ReadTime: "4",
        Link: "/"
    }
]

---

<Layout Title="Blogs | GIRIRAJ DIGITAL">
    <HeroSection Padding={true} SubTitle="Web & Mobile App Development Blogs" Title="Blogs" Paragraph="Welcome to our blog. Here we will sum up our continually curious approach to the way we think and work. We're always looking for bigger ideas and better ways to do things. And when we find them, we'll share them with you here." />

    <section class="section-container mt-0! grid grid-cols-12 gap-5 lg:gap-[30px] xl:gap-[60px] pt-10 px-10 xl:pt-20 xl:px-20 bg-[url('../assets/images/tags-bg.webp')] bg-no-repeat bg-size-[100%_auto] xl:gap-y-20">
        <div class="col-span-12 lg:col-start-2 lg:col-span-10 xl:col-start-2 xl:col-span-7 flex flex-wrap gap-2 lg:gap-4 text-sm xl:text-base h-fit" id="filterButtons">
            <button class="filter-btn active" data-tag="ALL">All</button>
            {
                Tag.map((item) => (
                    <button class="filter-btn" data-tag={item}>{item}</button>
                ))
            }
        </div>


        <div class="col-span-12 lg:col-start-2 lg:col-span-10 xl:col-start-2 xl:col-span-7 grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-[30px] xl:gap-[60px]" id="caseStudyGrid">
            {
                Card.map((card) => (
                    <a href={card.Link} class="outline-3 xl:outline-8 outline-[#E9F2FC] rounded-[20px] bg-white case-card" data-tag={card.Tag}>
                        <img src={card.Image.src} class="w-full rounded-t-[20px]" alt={card.Title} />
                        <div class="p-5 xl:p-[30px] space-y-6 xl:space-y-10">
                            <div class="space-y-5">
                                <h3 class="font-bold text-[#21292C] text-[22px] xl:text-[26px]">{card.Title}</h3>
                                <p class="text-[#2C363A] leading-[150%]">{card.Date}</p>
                            </div>

                            <div class="flex justify-between pt-4 border-t border-[#CCCCCC]">
                                <div class="flex space-x-2">
                                    <img src={card.BloggerImage.src} alt={card.Author} />
                                    <p class="text-[#2C363A] ">{card.Author}</p>
                                </div>

                                <div class="flex space-x-2">
                                    <img src={Clock.src} alt="read-time" />
                                    <p class="text-[#2C363A] ">{card.ReadTime} Mins read</p>
                                </div>
                            </div>
                        </div>
                    </a>
                ))
            }
        </div>

        <div class="order-2 md:mt-8 lg:mt-0 xl:order-1 col-span-12 rounded-[20px] h-fit lg:col-start-2 lg:col-span-10 xl:col-start-9 xl:col-span-3 bg-[#E9F2FC] p-5 xl:p-[30px] space-y-5 shadow-[0px_0px_6px_0px_rgba(0,0,0,0.15)]">
            <h2 class="text-[#21292C] text-[26px] xl:text-[36px] leading-[120%] font-bold">Most popular blogs</h2>
            {
                PopularBlogList.map((item, index) => (
                    <div class={`${ index !== PopularBlogList.length - 1 ? "border-b border-[#C1D9F3] pb-5" : "" }`}>
                        <a href={item.Link} class="space-y-1.5 ">
                            <p class="text-[#2C363A] xl:text-lg font-semibold">{item.Name}</p>
                            <p class="text-[#2C363A]">{item.ReadTime} Mins read</p>
                        </a>
                    </div>
                ))
            }

        </div>

        <button id="loadMoreBtn" class="order-1 xl:order-2 rounded-[40px] col-span-12 lg:col-start-2 lg:col-span-10 xl:col-start-2 xl:col-span-7 text-[#0FA1DB] bg-[#E9F2FC] text-center w-full font-semibold text-lg xl:text-xl py-3 cursor-pointer">Load More</button>

    </section>


<style>
    .filter-btn {
        border: 1px solid #0FA1DB;
        border-radius: 40px;
        padding: 8px 20px;
        font-weight: 600;
        color: rgba(13, 13, 13, 0.7);
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .filter-btn.active {
        background-color: #0FA1DB;
        color: white;
    }
</style>

<script is:inline>
    const buttons = document.querySelectorAll(".filter-btn");
    const cards = document.querySelectorAll(".case-card");
    const loadMoreBtn = document.getElementById("loadMoreBtn");

    let selectedTags = ["ALL"];
    let visibleCount = 4;

    function updateCards() {
        let matchedCards = [];

        cards.forEach(card => {
        const tag = card.dataset.tag;

        const match =
            selectedTags.includes("ALL") || selectedTags.includes(tag);

        card.style.display = match ? "block" : "none";

        if (match) matchedCards.push(card);
        });

        // Load More logic
        matchedCards.forEach((card, index) => {
        card.style.display = index < visibleCount ? "block" : "none";
        });

        loadMoreBtn.style.display =
        matchedCards.length > visibleCount ? "block" : "none";
    }

    buttons.forEach(btn => {
        btn.addEventListener("click", () => {
        const tag = btn.dataset.tag;

        if (tag === "ALL") {
            selectedTags = ["ALL"];
            buttons.forEach(b => b.classList.remove("active"));
            btn.classList.add("active");
        } else {
            selectedTags = selectedTags.filter(t => t !== "ALL");

            btn.classList.toggle("active");

            if (btn.classList.contains("active")) {
            selectedTags.push(tag);
            } else {
            selectedTags = selectedTags.filter(t => t !== tag);
            }

            if (selectedTags.length === 0) {
            selectedTags = ["ALL"];
            document
                .querySelector('[data-tag="ALL"]')
                .classList.add("active");
            }

            document
            .querySelector('[data-tag="ALL"]')
            .classList.remove("active");
        }

        visibleCount = 4;
        updateCards();
        });
    });

    loadMoreBtn.addEventListener("click", () => {
        visibleCount += 4;
        updateCards();
    });

    // Initial load
    updateCards();
</script>
</Layout>   