---
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import UmbracoHeroImage from "../assets/images/umbraco-gold.webp";
import BloggerImage from "../assets/images/nikhil-prajapati-image.png";
import Arrow from "../assets/images/blog-back-arrow.svg";
import Facebook from "../assets/images/fb-blog.svg";
import Twitter from "../assets/images/twitter-blog.svg";
import Linkedin from "../assets/images/linkedin-blog.svg";


const BlogDetails = [
    {
        Time: "4",
        Date: "Feb 05, 2025",
        BloggerName: "Nikhil Prajapati",
        BloggerImage: BloggerImage
    }
]

const PopularBlogList = [
    {
        Name: "Top 5 Umbraco Hosting Options",
        ReadTime: "4",
        Link: "/"
    },
    {
        Name: "Nikhil Joins the Umbraco CMS Advisory Board 2025",
        ReadTime: "4",
        Link: "/"
    },
    {
        Name: "The Detailed Guide to Hiring Umbraco Developers from the Outsourcing Company!",
        ReadTime: "4",
        Link: "/"
    },
    {
        Name: "What is Umbraco DXP and how it is helping businesses to provide a better user experience?",
        ReadTime: "4",
        Link: "/"
    },
    {
        Name: "Umbraco 8 End of Life: Why You Need to Upgrade Now!",
        ReadTime: "4",
        Link: "/"
    },
    {
        Name: "Meet the Experienced Umbraco Team at Giriraj Digital!",
        ReadTime: "4",
        Link: "/"
    }
]
---

<Layout Title="Umbraco | GIRIRAJ DIGITAL">
    <HeroSection BgImage={UmbracoHeroImage} Padding={true} SubTitle="Umbraco" Title="Giriraj Digital Becomes Umbraco Gold Contributing Partner"  BlogDetails={BlogDetails} />

    <section class="section-container mt-0! 2xl:mt-[60px]! grid grid-cols-12 gap-5 lg:gap-[30px]">
        <div class="col-span-12 lg:col-start-2 lg:col-span-10  xl:col-start-2 xl:col-span-7">
            <div class="p-5 lg:p-10 space-y-[30px] lg:space-y-[60px] shadow-[0px_0px_6px_rgba(0,0,0,0.15)]">
                <div class="space-y-2.5">
                    <h2 class="text-[#21292C] text-[26px] lg:text-[40px] leading-[120%] font-bold">Introduction</h2>
                    <p class="text-[#000000] lg:text-lg leading-[150%]">In a proud moment for all of us, Giriraj Digital has been officially recognized as an Umbraco Gold Contributing Partner. This remarkable achievement marks an important milestone in the company’s journey of consistent growth and commitment toward delivering world-class digital solutions. This prestigious honor reflects Giriraj Digital’s valuable contributions to the Umbraco community, unwavering dedication to delivering exceptional Umbraco-based solutions, and its passion for continuous innovation in the ever-evolving digital landscape.</p>
                </div>

                <div class="space-y-2.5">
                    <h2 class="text-[#21292C] text-[26px] lg:text-[40px] leading-[120%] font-bold">A Milestone Achievement</h2>
                    <div class="space-y-5 text-[#000000] lg:text-lg leading-[150%]">
                        <p>Umbraco is an open-source content management system (CMS) that is used by businesses across the world to build attractive and user-friendly websites. It is supported by a strong global community of developers, partners, and contributors who help it grow.</p>
                        <p>Becoming a Gold Partner is a big achievement under Umbraco’s partner program. This special recognition is given to companies that show high-level skills in Umbraco development and provide excellent service to their customers.</p>
                        <p>At Giriraj Digital, our journey toward achieving Gold Contributing Partner status shows our strong expertise, dedication, and commitment to delivering top-quality digital experiences. By successfully meeting Umbraco’s high standards, Giriraj Digital has proven to be a trusted partner capable of creating innovative solutions and providing excellent support to its clients.</p>
                    </div>
                </div>

                <div class="space-y-2.5">
                    <h2 class="text-[#21292C] text-[26px] lg:text-[40px] leading-[120%] font-bold">Strong Partnership with Umbraco</h2>
                    <div class="space-y-5 text-[#000000] lg:text-lg leading-[150%] font-normal">
                        <p>Giriraj Digital’s recognition as a Gold Contributing Partner is the result of our long and strong relationship with Umbraco. We have always used the CMS’s powerful features to build dynamic and scalable websites and digital platforms. Our team of certified developers and strategists have shown a deep understanding of Umbraco’s strengths, helping clients make the most of the platform’s flexibility.</p>
                        <p>As an Umbraco Gold Partner, Giriraj Digital is now even more closely connected with the Umbraco team, giving them early access to the latest updates, product releases, and best practices. This helps them ensure that their clients continue to get the most modern and efficient digital solutions.</p>
                    </div>
                </div>

                <div class="space-y-2.5">
                    <h2 class="text-[#21292C] text-[26px] lg:text-[40px] leading-[120%] font-bold">Innovation and Expertise</h2>
                    <div class="space-y-5 text-[#000000] lg:text-lg leading-[150%] font-normal">
                        <p>Giriraj Digital’s success lies in its commitment to both technical excellence and creative innovation. We have developed a diverse portfolio of Umbraco-powered websites, ranging from small business websites to large-scale enterprise applications. Our deep expertise in the Umbraco platform enables us to handle even the most complex digital challenges, making us a go-to partner for businesses looking to optimize online presence.</p>
                        <p>From providing seamless integrations to developing customized plugins and modules, we consistently go above and beyond for our clients. Our ability to create secure, scalable, and user-friendly digital experiences has earned us a reputation as one of the most trusted Umbraco partners in the industry.</p>
                    </div>
                </div>

                <div class="space-y-2.5">
                    <h2 class="text-[#21292C] text-[26px] lg:text-[40px] leading-[120%] font-bold">Client-Centric Approach</h2>
                    <div class="space-y-5 text-[#000000] lg:text-lg leading-[150%] font-normal">
                        <p>At the heart of Giriraj Digital’s success is its client-centric approach. The company takes the time to understand each client’s unique goals and objectives, tailoring Umbraco solutions to meet those needs effectively. By fostering a collaborative environment and providing expert guidance throughout the development process, we ensure that each project is delivered on time, within budget, and to the highest standard of quality.</p>
                        <p>This client-first mentality has earned Giriraj Digital a loyal client base, many of whom continue to return for their ongoing digital needs. Our comprehensive service offerings—ranging from development and design to ongoing support and maintenance—ensure that clients continue to receive the best value from the Umbraco-powered websites long after launch.</p>
                    </div>
                </div>

                <div class="space-y-2.5">
                    <h2 class="text-[#21292C] text-[26px] lg:text-[40px] leading-[120%] font-bold">What’s Next for Giriraj Digital?</h2>
                    <div class="space-y-5 text-[#000000] lg:text-lg leading-[150%] font-normal">
                        <p>Being named an Umbraco Gold Contributing Partner is just the beginning for Giriraj Digital. We plan to keep expanding our reach, building new and innovative solutions, and helping businesses make the best use of Umbraco. If you are looking for a trusted partner to build or upgrade your Umbraco website, <a href="" class="text-[#0FA1DB] hover:underline transition-all ease-in-out duration-300">connect with our Umbraco Certified Team</a> today and see how we can help bring your vision to life.</p>
                    </div>
                </div>
            </div>
            <div class="pt-5 lg:pt-10 px-5 lg:px-10 flex justify-between">
                <a href="" class="flex space-x-1.5">
                    <img src={Arrow.src} alt="arrow" />
                    <p class="text-[#2C363A] leading-[150%]">Return to Blog List</p>
                </a>

                <div class="flex space-x-5">
                    <a href=""><img src={Facebook.src} alt="facebook" /></a>
                    <a href=""><img src={Twitter.src} alt="twitter" /></a>
                    <a href=""><img src={Linkedin.src} alt="linkedin" /></a>
                </div>
            </div>
        </div>

        <div class="col-span-12 lg:col-start-2 lg:col-span-10 xl:col-span-3 space-y-5 lg:space-y-10 xl:space-y-20">
            <div class="h-fit pt-5 xl:pt-[30px] xl:pl-[30px] space-y-5 ">
                <h2 class="text-[#21292C] text-[26px] xl:text-[36px] leading-[120%] font-semibold capitalize">Most popular blogs</h2>
                {
                    PopularBlogList.map((item, index) => (
                        <div class={`${ index !== PopularBlogList.length - 1 ? "border-b border-[#C1D9F3] pb-5" : "" }`}>
                            <a href={item.Link} class="space-y-1.5 ">
                                <p class="text-[#2C363A] font-medium">{item.Name}</p>
                                <p class="text-[#2C363A]">{item.ReadTime} Mins read</p>
                            </a>
                        </div>
                    ))
                }
            </div>

            <div class="xl:sticky xl:top-25  bg-[url('../assets/images/fuel-of-success-bg.webp')] lg:mt-5 xl:ml-[30px] p-5 lg:p-[30px] rounded-[20px] space-y-5 lg:space-y-[26px]">
                <div class="space-y-1.5">
                    <h3 class="text-[#21292C] text-xl font-bold lg:text-[28px]">Join the Conversation</h3>
                    <p class="text-[#000000] font-semibold text-lg lg:text-2xl">Connect with Nikhil</p>
                </div>

                <form action="" class="space-y-6">
                    <input name="first_name" type="text" class="py-2 px-3 text-black placeholder:text-[rgba(33,37,41,0.7)] bg-white outline-none w-full border border-[#7AADD9]" placeholder="Please enter your first name" />
                    <input name="email" type="email" class="py-2 px-3 text-black placeholder:text-[rgba(33,37,41,0.7)] bg-white outline-none w-full border border-[#7AADD9]" placeholder="Please enter valid email address" />
                    <textarea name="message" class="py-2 px-3 text-black placeholder:text-[rgba(33,37,41,0.7)] bg-white outline-none w-full border border-[#7AADD9]" placeholder="Please enter valid email address" />  
                    <button class="outline-none relative h-fit w-fit rounded-full text-white flex items-center space-x-2.5 py-2 lg:py-2.5 px-3.5 lg:px-6 font-semibold overflow-hidden bg-[linear-gradient(90deg,#0FA1DB,#5C2D91,#0FA1DB)] bg-size-[200%_200%] bg-left transition-[background-position] duration-500 ease-in-out hover:bg-right cursor-pointer ">Send Inquiry</button>
                </form>
            </div>
        </div>
    </section>
</Layout>