---
const {
  Icon,
  Heading,
  Paragraph,
  Link,
  BgImage,
  BgColor,
  BorderOutline,
  ShowReadMore = true,
} = Astro.props;

import ButtonIcon from "../assets/images/link-icon.svg";

const backgroundStyle = BgColor
  ? `background-color: ${BgColor};`
  : BgImage
    ? `background-image: url('${BgImage.src}');`
    : "";

const outlineClass = BorderOutline || "rgba(255,255,255,0.6)";

const Wrapper = Link ? "a" : "div";
const wrapperProps = Link ? { href: Link } : {};

// animation classes ONLY if Link exists
const hoverCardClasses = Link
  ? `
    cursor-pointer
    2xl:translate-y-6
    2xl:transition-all
    2xl:duration-500
    2xl:ease-out
    2xl:group-hover:translate-y-0
    lg:pb-[70px]
  `
  : "cursor-default";

const hoverButtonClasses = Link
  ? `
    2xl:opacity-0
    2xl:translate-y-4
    2xl:transition-all
    2xl:duration-500
    2xl:ease-out
    2xl:group-hover:opacity-100
    2xl:group-hover:translate-y-0
  `
  : "";

const paddingClasses = Link
  ? "px-5 pt-5 lg:px-[35px] lg:pt-12 2xl:px-[70px] 2xl:pt-[60px]"
  : "px-5 pt-5 lg:px-[40px] lg:pt-12 2xl:pt-[60px]";

---
<div
  class=`${paddingClasses} bg-cover group rounded-xl lg:rounded-4xl overflow-hidden`
  style={backgroundStyle}
>
  <Wrapper
    {...wrapperProps}
    class={`block lg:relative rounded-t-xl 2xl:rounded-t-[20px]
      outline-4 lg:outline-8 border-b-0
      p-5 lg:p-[30px]
      space-y-5 bg-white h-full
      ${hoverCardClasses}`}
    style={`outline-color: ${outlineClass};`}
  >

    <!-- Heading -->
    <div class="flex space-x-5 items-center">
      {Icon && <img src={Icon.src} class="w-14" alt={Heading} />}
      <h3 class="text-[#21292C] font-bold text-[26px] leading-[130%]">
        {Heading}
      </h3>
    </div>

    <p class="text-[#2C363A] leading-[150%]">{Paragraph}</p>

    <!-- Know More -->
    {Link && ShowReadMore && (
      <div
        class={`lg:absolute lg:bottom-6 xl:left-8
          flex items-center space-x-2
          ${hoverButtonClasses}`}
      >
        <p class="text-[#2C363A] font-semibold">Know More</p>
        <img src={ButtonIcon.src} alt="Know More" />
      </div>
    )}

  </Wrapper>
</div>
