---
const { Icon, Heading, Paragraph, Link, BgImage } = Astro.props;
import ButtonIcon from "../assets/images/link-icon.svg";
---

<div
  class="lg:px-10 lg:pt-10 bg-cover group rounded-b-4xl overflow-hidden"
  style={`background-image: url('${BgImage.src}');`}
>
  <!-- Inner Card -->
  <div
    class="relative rounded-t-[20px] border-6 border-[#99BFD8] border-b-0
        p-[30px] pb-[70px] space-y-5 bg-white h-full
        translate-y-6 /* <-- Start LOWER */
        transition-all duration-500 ease-out
        group-hover:translate-y-0 /* <-- Slide UP on hover */"
  >
    <!-- Heading + Paragraph -->

    <div class="flex space-x-5 items-center content-center"> {Icon && <img src={Icon.src} class="w-14" alt={Heading}/>} <h3 class="text-[#21292C] font-bold text-[26px] leading-[100%]">{Heading}</h3> </div>
    <p class="text-[#2C363A] leading-[150%]">{Paragraph}</p>

    <!-- Know More Button -->
    <a
      href={Link ? Link : "/"}
      class="absolute bottom-6 left-8
            opacity-0 translate-y-4
            transition-all duration-500 ease-out
            group-hover:opacity-100 group-hover:translate-y-0
            flex items-center space-x-2"
    >
      <p class="text-[#2C363A] font-semibold">Know More</p>
      <img src={ButtonIcon.src} alt="Know More" />
    </a>
  </div>
</div>
