---
import "../assets/css/swiper.css";
import SwiperSlide from "../components/SwiperSlide.astro";
import Slide1 from "../assets/images/slide1-bg.png";
import LT from "../assets/images/larsen-and-toubro.png";
import gift from "../assets/images/gift.png";
import umbraco from "../assets/images/umbraco.png";
import digitas from "../assets/images/digitas.png";
---
<div class="swiperBg">

  <swiper-container
    class="mySwiper  bg-[url('../assets/images/carousel-bg.png')]  px-5 lg:px-[30px] bg-center bg-no-repeat bg-cover lg:bg-auto pb-20 pt-28 lg:pt-0 lg:py-0"
    autoplay-delay="5000"
    autoplay-disable-on-interaction="false"
  >
    <SwiperSlide Heading="Building high-end digital experience" Paragraph="Giriraj Digital, a global digital consultancy, crafting solutions for more engaging and best performance user journey." BgImage={Slide1} />
    
    <SwiperSlide Heading="Solving Enterprise engineering challenges" Paragraph="Our technical engineering team empowers industry domain expertise and solves complex business needs with an organized ISO execution process." BgImage={Slide1} />

    <SwiperSlide Heading="Unlock Digital Excellence with Our Azure Experts" Paragraph="Maximize your cloud potential with our seasoned experts. Streamline operations and drive innovation with tailored cloud solutions." BgImage={Slide1} />

    <SwiperSlide Heading="Scale-up your application with AI" Paragraph="Implanting AI into business applications and digital products to boost productivity, growth, and achieve ROI 2X faster." BgImage={Slide1} />

    <!-- TABS + PROGRESS BARS -->
    <div class="grid grid-cols-12 w-full slide-tabs lg:absolute pt-10 lg:pt-0 lg:bottom-40 z-30" slot="container-end">
      <div class="col-span-12 lg:col-start-2 lg:col-span-10 flex justify-between md:justify-start md:gap-[30px]">
        <div class="tab-item" data-index="0">
          <span class="text-[#21292C]! lg:text-xl">Digital</span>
          <div class="tab-progress"><div class="tab-progress-fill"></div></div>
        </div>

        <div class="tab-item" data-index="1">
          <span class="text-[#21292C]! lg:text-xl">Engineering</span>
          <div class="tab-progress"><div class="tab-progress-fill"></div></div>
        </div>

        <div class="tab-item" data-index="2">
          <span class="text-[#21292C]! lg:text-xl">Cloud</span>
          <div class="tab-progress"><div class="tab-progress-fill"></div></div>
        </div>


        <div class="tab-item" data-index="3">
          <span class="text-[#21292C]! lg:text-xl">AI</span>
          <div class="tab-progress"><div class="tab-progress-fill"></div></div>
        </div>
      </div>
    </div>
  </swiper-container>



  <div class="grid grid-cols-12 xl:absolute xl:bottom-10  w-full lg:z-30 lg:px-10 bg-white py-[50px] lg:py-0 lg:bg-none lg:pb-20 xl:pb-0">
    <div class="col-span-12 px-5 lg:px-0 lg:col-start-2 lg:col-span-10 flex flex-col xl:flex-row md:justify-between xl:items-center xl:content-center space-y-4 lg:space-y-5 xl:space-y-0">
        <p class="text-[#0FA1DB] lg:text-[#211E3B] font-semibold">Trusted By Biggest Brands</p>
        <div class="grid grid-cols-2 md:grid-cols-4 lg:flex lg:flex-wrap gap-x-4 gap-y-2.5  lg:gap-x-0 lg:gap-y-3.5 xl:gap-y-0  lg:space-x-14 xl:space-x-20 items-center">
          <img src={LT.src} class="w-fit h-fit" alt="larsen and toubro">
          <img src={digitas.src} class="w-fit h-fit" alt="digitas">
          <img src={umbraco.src} class="w-fit h-fit" alt="umbraco">
          <img src={gift.src} class="w-fit h-fit" alt="gujarat international finance tech city">
        </div>
    </div>
</div>
</div>
<script src="../assets/js/swiper.js"></script>
