---
import LinkButton from "./LinkButton.astro"

const {Image="",Tag="",Name="",Description="",Link=""} = Astro.props
---

<div class="bg-white">   
    <img src={Image.src} alt={Name} class="rounded-t-[20px]" />
    <div class="p-5 lg:p-8 xl:p-10 space-y-5 lg:space-y-10">
        <div class="space-y-5">
            <p class="bg-[#E9F2FC] p-2.5 w-fit text-[#0FA1DB] font-semibold">{Tag}</p>
            <h3 class="text-[#21292C] text-2xl lg:text-[26px] font-bold">{Name}</h3>
            <p class="leading-[150%] text-[#2C363A]">Shubak Cinema revolutionizes movie ticket booking with an interactive experience. Ismael aims for a multi-vendor system, offering remote ticketing with customizable seat layouts.</p>
        </div>


        <LinkButton Text="Explore More" Link={Link} />
    </div>
</div>