---
import FooterLocation from "./FooterLocation.astro"
import FooterLinks from "./FooterLinks.astro"


import Call from "../assets/images/call-icon.svg"
import Email from "../assets/images/email-icon.svg"
import AWSLogo from "../assets/images/aws-footer-logo.png"
import GoldLogo from "../assets/images/gold-footer-logo.png"
import LinkClutch from "../assets/images/Linkclutch.png"
import MSCertification from "../assets/images/ms-certification.png"
import GoogleRating from "../assets/images/google-5-rating.png"
import Logo from "../assets/images/giriraj-digital.svg"
import X from "../assets/images/x.svg"
import Instagram from "../assets/images/instagram.svg"
import Linkedin from "../assets/images/linkedin.svg"
import Facebook from "../assets/images/facebook.svg"
import youtube from "../assets/images/youtube.svg"
import IsoBlue from "../assets/images/iso-blue.png"
import IsoGray from "../assets/images/iso-gray.png"


const IndustriesLink = [
    { Link: "/", Text: "AI Automation" },
    { Link: "/", Text: "Insurance" },
    { Link: "/", Text: "Healthcare" },
    { Link: "/", Text: "Media & Entertainment" },
    { Link: "/", Text: "Travel & Tourism" },
    { Link: "/", Text: "Fitness" },
    { Link: "/", Text: "Retail & Hospitality" },
    { Link: "/", Text: "E Commerce" },
    { Link: "/", Text: "AI App Development Services" },
];

const ServiceLinks = [
    { Link: "/", Text: "Product Engineering" },
    { Link: "/", Text: "E Commerce Solutions" },
    { Link: "/", Text: "Web Application Development" },
    { Link: "/", Text: "Dedicated Development" },
    { Link: "/", Text: "Umbraco Development Service" },
    { Link: "/", Text: "MS Power Development Service" },
    { Link: "/", Text: "Quality Assurance" },
    { Link: "/", Text: "UI/UX Design Services" },
    { Link: "/", Text: "DevOps Services" },
];

const ResourceLinks = [
    { Link: "/", Text: "Client Success Stories" },
    { Link: "/", Text: "Portfolio" },
    { Link: "/", Text: "Blog" },
    { Link: "/", Text: "White Paper" },
    { Link: "/", Text: "Business Events" },
    { Link: "/", Text: "Security at GD" }
];

const AboutUsLinks = [
    { Link: "/", Text: "About GIRIRAJ DIGITAL" },
    { Link: "/", Text: "Our Leadership Team" },
    { Link: "/", Text: "Technology Partners" },
    { Link: "/", Text: "Careers" },
    { Link: "/", Text: "Culture & Events" },
    { Link: "/", Text: "Awards & Recognition" },
    { Link: "/", Text: "Contact Us" },
    { Link: "/", Text: "CSR" }
];
---

<footer class="w-full text-white bg-white mt-10 lg:mt-40">
    <FooterLocation />
    <div class="py-10 lg:py-[100px] bg-[#041E28] px-5 lg:px-[30px]">
        <div class="grid grid-cols-12  gap-y-10 md:gap-[30px] xl:gap-y-20">
            <!-- * Business And HR/Career Details -->
            <div class="col-span-12 md:w-[50%] xl:w-auto xl:col-start-2 xl:col-span-5 2xl:col-start-2 2xl:col-span-2 space-y-5 lg:space-y-[30px]">
                <div class="py-[13px] px-5 space-y-[18px] rounded-[18px] border border-[rgba(255,255,255,0.2)] bg-[rgba(255,255,255,0.06)]">
                    <h5 class="font-semibold lg:text-lg uppercase pb-2 border-b border-[rgba(255,255,255,0.2)]">Business</h5>
                    <div class="roboto space-y-3.5 ">
                        <a href="tel:+918200817694" class="flex space-x-2 content-center items-center hover:text-[#0FA1DB] ease-in-out duration-300">
                            <img src={Call.src} alt="contact">
                            <p>+91 82008 17694</p>
                        </a>
                        <a href="mailto:info@girirajdigital.com" class="flex space-x-2 content-center items-center hover:text-[#0FA1DB] ease-in-out duration-300">
                            <img src={Email.src} alt="email">
                            <p>info@girirajdigital.com</p>
                        </a>
                    </div>
                </div>

                <div class="py-[13px] px-5 space-y-[18px] rounded-[18px] border border-[rgba(255,255,255,0.2)] bg-[rgba(255,255,255,0.06)]">
                    <p class="font-semibold lg:text-lg uppercase pb-2 border-b border-[rgba(255,255,255,0.2)]">HR / Career</p>
                    <div class="roboto space-y-3.5">
                        <a href="tel:+918200817694" class="flex space-x-2 content-center items-center hover:text-[#0FA1DB] ease-in-out duration-300">
                            <img src={Call.src} alt="contact">
                            <p>+91 82008 17694</p>
                        </a>
                        <a href="mailto:career@girirajdigital.com" class="flex space-x-2 content-center items-center hover:text-[#0FA1DB] ease-in-out duration-300">
                            <img src={Email.src} alt="email">
                            <p>career@girirajdigital.com</p>
                        </a>
                    </div>
                </div>
            </div>

            <!-- * INDUSTRIES -->
            <div class="col-span-12 md:col-span-6 space-y-5 xl:col-span-5 2xl:col-span-2">
                <div class="w-full border-b border-[#FFFFFF]">
                    <h5 class="font-bold pb-[22px]  lg:text-lg uppercase bg-[linear-gradient(90deg,#0FA1DB_0%,#CCCCCC_100%)] w-fit bg-clip-text text-transparent">INDUSTRIES</h5>
                </div>
                {IndustriesLink.map((item) => (
                    <FooterLinks Link={item.Link} Text={item.Text} />
                ))}
            </div>


            <!-- * Services -->
            <div class="col-span-12 md:col-span-6 space-y-5 xl:col-start-2 xl:col-span-3 2xl:col-start-6 2xl:col-span-2">
                <div class="w-full border-b border-[#FFFFFF]">
                    <h5 class="font-bold pb-[22px]  lg:text-lg uppercase bg-[linear-gradient(90deg,#0FA1DB_0%,#CCCCCC_100%)] w-fit bg-clip-text text-transparent">SERVICES</h5>
                </div>
                {ServiceLinks.map((item) => (
                    <FooterLinks Link={item.Link} Text={item.Text} />
                ))}
            </div>

            <!-- * Resources -->
            <div class="col-span-12 md:col-span-6 space-y-5  xl:col-span-3 2xl:col-span-2">
                <div class="w-full border-b border-[#FFFFFF]">
                    <h5 class="font-bold pb-[22px]  lg:text-lg uppercase bg-[linear-gradient(90deg,#0FA1DB_0%,#CCCCCC_100%)] w-fit bg-clip-text text-transparent">Resources</h5>
                </div>
                {ResourceLinks.map((item) => (
                    <FooterLinks Link={item.Link} Text={item.Text} />
                ))}
            </div>

            <!-- * About Us -->
            <div class="col-span-12 md:col-span-6 space-y-5 xl:col-span-3 2xl:col-span-2">
                <div class="w-full border-b border-[#FFFFFF]">
                    <h5 class="font-bold pb-[22px]  lg:text-lg uppercase bg-[linear-gradient(90deg,#0FA1DB_0%,#CCCCCC_100%)] w-fit bg-clip-text text-transparent">About Us</h5>
                </div>
                {AboutUsLinks.map((item) => (
                    <FooterLinks Link={item.Link} Text={item.Text} />
                ))}
            </div>

            <!-- * Certificates and Accolades -->
            <div class="col-span-12 lg:col-start-2 lg:col-span-10 space-y-[22px] pt-10 lg:pt-0">
                <h5 class="font-bold  lg:text-lg uppercase bg-[linear-gradient(90deg,#0FA1DB_0%,#CCCCCC_100%)] w-fit bg-clip-text text-transparent">Certificates and Accolades</h5>
                <div class="rounded-[20px] grid grid-cols-2 md:grid-cols-3 md:justify-items-center gap-x-8 gap-y-5 lg:flex lg:flex-wrap justify-around lg:border lg:border-[rgba(255,255,255,0.2)] lg:bg-[rgba(255,255,255,0.06)] py-6">
                    <img class="w-fit" src={AWSLogo.src} alt="awslogo" />
                    <img class="w-fit" src={GoldLogo.src} alt="goldlogo" />
                    <img class="w-fit" src={LinkClutch.src} alt="link clutch" />
                    <img class="w-fit" src={MSCertification.src} alt="microsoft certification" />
                    <img class="w-fit col-span-2 justify-self-center lg:justify-self-auto" src={GoogleRating.src} alt="google rating" />
                </div>
            </div>
        </div>
    </div>
    
    <div class="p-5 lg:px-[60px] bg-[#02141B] 2xl:flex 2xl:justify-between roboto content-center items-center space-y-5 xl:space-y-0">
        <!-- * Social Media -->
        <div class="space-x-5 flex justify-between lg:justify-start xl:justify-between 2xl:justify-auto content-center items-center">
            <img src={Logo.src} class="w-20 lg:w-auto lg:pr-5 lg:border-r lg:border-white" alt="giriraj digital">
            <div class="flex space-x-0.5 lg:space-x-4">
                <a href="" target="_blank" class="flex items-center justify-center w-8 h-8 lg:w-12 lg:h-12 hover:bg-[#3B5998] rounded-full transition-colors ease-in-out duration-300">
                    <img class="h-4 lg:h-5" src={Facebook.src} alt="facebook">
                </a>

                <a href="" target="_blank" class="flex items-center justify-center w-8 h-8 lg:w-12 lg:h-12  hover:bg-[#007bb5] rounded-full transition-colors ease-in-out duration-300" >
                    <img class="h-4 lg:h-5" src={Linkedin.src} alt="linkedin">
                </a>

                <a href="" target="_blank" class="flex items-center justify-center w-8 h-8 lg:w-12 lg:h-12 hover:bg-black rounded-full transition-colors ease-in-out duration-300" >
                    <img class="h-4 lg:h-5" src={X.src} alt="x">
                </a>
                <a href="" target="_blank" class=" group relative flex items-center justify-center w-8 h-8 lg:w-12 lg:h-12 rounded-full overflow-hidden">
                    <!-- Gradient layer -->
                    <span class=" absolute inset-0 rounded-full bg-[linear-gradient(72.44deg,#ff7a00,#ff0169,#d300c5)] opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"></span>

                    <!-- Icon -->
                    <img
                        class="relative z-10 h-4 lg:h-5 transition-transform duration-300"
                        src={Instagram.src}
                        alt="instagram"
                    />
                </a>


                <a href="" target="_blank" class="flex items-center justify-center w-8 h-8 lg:w-12 lg:h-12 hover:bg-[#bb0000] rounded-full transition-colors ease-in-out duration-300" >
                    <img class="h-4 lg:h-5" src={youtube.src} alt="youtube">
                </a>
            </div>

        </div>

        <!-- * Iso -->
        <div class="flex w-full lg:w-auto justify-center space-x-5">
            <img class="w-fit" src={IsoBlue.src} alt="ISO">
            <img class="w-fit" src={IsoGray.src} alt="ISO">
        </div>


        <!-- * Copyright -->
        <div class="flex flex-col text-sm md:text-base lg:justify-between 2xl:justify-start items-center space-y-3 lg:space-y-0 lg:flex-row lg:space-x-5 xl:space-x-10 lg:text-lg font-extralight">
            <div class="flex space-x-3 lg:space-x-5 xl:space-x-3">
                <a href="" class="hover:text-[#0FA1DB] ease-in-out duration-300 transition-colors">Privacy Notice</a>
                <a href="" class="hover:text-[#0FA1DB] ease-in-out duration-300 transition-colors">Cookie Policy</a>
                <a href="" class="hover:text-[#0FA1DB] ease-in-out duration-300 transition-colors">Disclaimer</a>
            </div>
            <p>Copyright @ 2025 GIRIRAJ DIGITAL</p>
        </div>
    </div>
</footer>