---
import '../assets/css/location.css'


import COPENHAGEN from "../assets/images/COLORADO.webp";
import AHMEDABAD from "../assets/images/AHMEDABAD.webp";
import COLORADO from "../assets/images/COPENHAGEN.webp";

import denmark from "../assets/images/Denmark.png";
import india from "../assets/images/India.png";
import usa from "../assets/images/Usa.png";

import LocationCard from './LocationCard.astro';
---

<div id="gallery" class="flex flex-col lg:flex-row w-full lg:h-[277px] group overflow-hidden roboto">

    <LocationCard 
        Image={COPENHAGEN} 
        City="COPENHAGEN" 
        CountryLogo={denmark} 
        CountryName="DENMARK" 
        Phone="+45 61 41 91 91" 
        Email="info@girirajdigital.com" 
        Address="Amagerfælledvej 108, 2300 København Denmark"
    />

    <LocationCard 
        Image={AHMEDABAD} 
        City="AHMEDABAD" 
        CountryLogo={india} 
        CountryName="INDIA" 
        Phone="+91 82008 17694" 
        Email="career@girirajdigital.com" 
        Address="B-1020, Navratna Corporate Park, Ambli, Ahmedabad - 380058, India"
        isActive={true}
    />

    
    <LocationCard 
        Image={COLORADO} 
        City="COLORADO" 
        CountryLogo={usa} 
        CountryName="USA" 
        Phone="+1(408) 831 1164" 
        Email="info@girirajdigital.com" 
        Address="200 Union Blvd. Suite 200, Lakewood, Colorado - 80228 USA"
    />
</div>

<script src="../assets/js/footerlocation.js"></script>
