---
const {
    BgImage,
    ButtonLink,
    Title = "",
    Paragraph = "",
    ParagraphTitle = "",
    HeroImage,
    ButtonText = "",
    SubTitle = "",
    Padding = false,
    BackImage,
    BlogDetails=[]
} = Astro.props;

import LinkButton from "./LinkButton.astro";
import Clock from "../assets/images/clock-icon.svg";

const hasHeroImage = !!HeroImage;
const hasBgImage = !!BgImage;
const hasBackImage = !!BackImage;

// column logic
const contentCols = hasBackImage || hasBgImage
    ? "lg:col-span-7"
    : hasHeroImage
        ? "lg:col-span-6"
        : "lg:col-span-7";


// const bgPosition = hasBackImage
//     ? "bg-[position:bottom_0px_right_165px]"
//     : hasHeroImage
//         ? "bg-[position:calc(100%-10px)_calc(100%-20px)] lg:bg-[position:bottom_0px_right_40px] xl:bg-[position:bottom_0px_right_165px]"
//         : "bg-[position:center_right_80px]";


const backImageBg = " bg-none!  lg:bg-no-repeat lg:bg-[position:calc(100%-10px)_center] md:bg-[position:center_right_80px] lg:bg-[position:calc(100%-40px)_center] xl:bg-[position:calc(100%-110px)_center]";



---
<section
    class={`section-container mt-[90px]! grid grid-cols-12 gap-[30px] ${hasBackImage ? backImageBg : ""}`} style={ hasBackImage ? `background-image: url('${BackImage.src}') !important;` : ""}>

    <div
        class={`lg:col-start-2 col-span-12 ${contentCols} space-y-5 lg:space-y-8
        ${Padding ? "py-10 md:py-20 lg:py-24 xl:py-[120px]" : ""}`}
    >
        <div class="space-y-4">
            {SubTitle && (
                <p class="font-semibold text-black text-lg lg:text-2xl">
                    {SubTitle}
                </p>
            )}

            <h1 class="font-bold text-[32px] lg:text-[48px] xl:text-[64px] text-[#21292C] leading-[120%]">
                {Title}
            </h1>
        </div>

        <div class="space-y-3 text-[#000000]">
            {ParagraphTitle && (
                <p class="font-semibold text-lg lg:text-2xl">
                    {ParagraphTitle}
                </p>
            )}

            {Paragraph && (
                <p class="lg:text-lg xl:text-xl font-medium">
                    {Paragraph}
                </p>
            )}
        </div>

        {ButtonLink && (
            <div class="w-fit">
                <LinkButton Text={ButtonText} Link="/" />
            </div>
        )}

        {BlogDetails.length > 0 && (
            <div class="flex flex-wrap gap-5 lg:gap-x-10 gap-y-3">
                <div class="flex items-center space-x-2">
                    <img src={Clock.src} alt="read time" />
                    <p class="text-[#2C363A] leading-[150%]">
                        {BlogDetails[0].Time} Mins read
                    </p>
                </div>

                <p class="text-[#2C363A] leading-[150%]">
                    {BlogDetails[0].Date}
                </p>

                <div class="flex items-center space-x-2">
                    <img
                        src={BlogDetails[0].BloggerImage.src}
                        alt={BlogDetails[0].BloggerName}
                        class="w-6 h-6 rounded-full object-cover"
                    />
                    <p class="text-[#2C363A] leading-[150%]">
                        {BlogDetails[0].BloggerName}
                    </p>
                </div>
            </div>
        )}

    </div>

    {/* BG IMAGE AS GRID ITEM */}
    {hasBgImage && (
        <div class="col-span-12 hidden lg:block lg:col-span-3 self-center">
            <img
                src={BgImage.src}
                alt="Background Visual"
                class="justify-self-center"
            />
        </div>
    )}

    {/* HERO IMAGE (UNCHANGED) */}
    {HeroImage && (
        <img
            src={HeroImage.src}
            class="col-span-12 lg:col-span-4 justify-self-center lg:justify-self-end self-center"
            alt={Title}
        />
    )}

</section>
