---
import Logo from "../assets/images/logo.svg";
import Icon from "../assets/images/navbar-icon.svg";
import LinkButton from "./LinkButton.astro";
import Arrow from "../assets/images/button-arrow.svg";
import Arrow2 from "../assets/images/arrow-color.svg";

const AiAutomation = [
  {
    Text: "AI Automation",
    Link: "/"
  },
  {
    Text: "Insurance",
    Link: "/"
  },
  {
    Text: "Retail & Hospitality",
    Link: "/"
  },
  {
    Text: "Travel",
    Link: "/"
  },
  {
    Text: "Healthcare",
    Link: "/"
  },
  {
    Text: "Media & Entertainment",
    Link: "/"
  },
  {
    Text: "Real Estate",
    Link: "/"
  },
  {
    Text: "Ecommerce",
    Link: "/"
  },
]

const Services = [
  {
    Text: "Product Engineering",
    Link: "/"
  },
  {
    Text: "Web Application Development",
    Link: "/"
  },
  {
    Text: "Quality Assurance",
    Link: "/"
  },
  {
    Text: "Ecommerce Solution",
    Link: "/"
  },
  {
    Text: "Dedicated Development Center",
    Link: "/"
  }
]

const TechnologyPartnership1 = [
  {
    Text: "Umbraco",
    Link: "/"
  },
  {
    Text: "ASP.NET Core",
    Link: "/"
  },
  {
    Text: "React JS",
    Link: "/"
  },
  {
    Text: "Umbraco Heartcore",
    Link: "/"
  },
  {
    Text: "React Native",
    Link: "/"
  },
  {
    Text: "Angular",
    Link: "/"
  }
]

const TechnologyPartnership2 = [
  {
    Text: "ASP.NET",
    Link: "/"
  },
  {
    Text: "Sitecore",
    Link: "/"
  },
  {
    Text: "Vue JS",
    Link: "/"
  },
  {
    Text: "Umbraco Agency",
    Link: "/"
  },
  {
    Text: "PHP Laravel",
    Link: "/"
  },
  {
    Text: "Node JS",
    Link: "/"
  }
]

const CaseStudy1 = [
  {
    Text: "AI Sales Automation Platform",
    Link: "/"
  },
  {
    Text: "Multivendor Insurance Portal",
    Link: "/"
  },
  {
    Text: "Helpdesk Management System",
    Link: "/"
  },
  {
    Text: "Travel & Tourism Portal",
    Link: "/"
  },
  {
    Text: "Ticket Booking System",
    Link: "/"
  },
  {
    Text: "Multivendor ECommerce Portal",
    Link: "/"
  }
]

const CaseStudy2 = [
  {
    Text: "Reward Loyalty Program",
    Link: "/"
  },
  {
    Text: "Stock Tracker Web App",
    Link: "/"
  },
  {
    Text: "Health Counselling Web Application",
    Link: "/"
  },
  {
    Text: "Construction Equipment App",
    Link: "/"
  },
  {
    Text: "Healthcare Software Solutions",
    Link: "/"
  }
]

---

<nav
  class="
      w-full
      text-[#21292C]
      bg-white z-100
      bg-neutral-primary
      fixed top-0 start-0"
>
  <div
    class="flex flex-wrap
      mx-auto p-5 lg:py-4 lg:px-[60px]
      items-center justify-between"
  >
    <a
      href="/"
      class="flex
          space-x-3
          items-center rtl:space-x-reverse"
    >
      <img src={Logo.src} class="h-[46px] lg:h-auto" alt="giriraj digital" />
    </a>
    <div
      class="inline-flex space-x-3 xl:space-x-5 lg:space-x-3 rtl:space-x-reverse lg:order-2 items-center content-center">
      <button
        type="button"
        class="px-3 py-2.5 lg:px-4 lg:py-3
            font-semibold leading-5
            bg-brand text-sm lg:text-base
            border border-transparent rounded-base
            bg-[#000000] rounded-full
            cursor-pointer text-white"
        >Inquire Now</button
      >
      <button
        data-collapse-toggle="navbar-cta"
        type="button"
        class="relative inline-flex w-9 h-9 items-center justify-center lg:hidden"
        aria-controls="navbar-cta"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>

        <!-- Hamburger -->
        <svg
          id="icon-open"
          class="absolute w-6 h-6 text-[#0FA1DB] transition-all duration-300 ease-in-out transform" 
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
            d="M5 7h14M5 12h14M5 17h14" />
        </svg>

        <!-- Close -->
        <svg
          id="icon-close"
          class="absolute w-6 h-6 text-[#0FA1DB] hidden"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
            d="M6 6l12 12M18 6l-12 12" />
        </svg>
      </button>


    </div>
    <div
  id="navbar-cta"
  class="hidden w-full lg:flex lg:order-1 lg:w-auto
         max-h-[85vh] overflow-y-auto overscroll-contain
         transition-all duration-300 ease-in-out"
>
      <ul
      class="flex flex-col
        p-4 mt-4
        font-medium
        bg-[#F7FAFF] backdrop-blur-sm
        border border-[rgba(15,161,219,0.15)]
        rounded-2xl shadow-sm
        rtl:space-x-reverse
        lg:flex-row lg:p-0 lg:space-x-4 xl:space-x-8
        lg:mt-0 lg:bg-transparent lg:border-0 lg:shadow-none space-y-2 lg:space-y-0"
    >

        <li>
          <a
            href="#"
            class="block
                text-[#0495CF]
                bg-brand
                rounded
                text-base font-medium
                lg:p-2.5 lg:text-fg-brand lg:bg-transparent"
            aria-current="page">Home</a
          >
        </li>
        <!-- * Who we are Desktop View -->
        <li class="w-full lg:w-auto hidden lg:block">
            <button id="dropdownNvbarButton" data-dropdown-toggle="dropdownNavbar" class="flex
                w-full cursor-pointer
                font-medium text-heading text-black hover:text-[#0495CF] transition-colors ease-in-out duration-200
                items-center justify-between lg:p-2.5 focus:bg-[rgba(4,149,207,0.1)]">
              Who we are 
              <svg class="w-4 h-4 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"
              ><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"></path></svg>
          </button>
        </li>

        <!-- * Who we are Mobile View -->
        <li class="w-full lg:w-auto lg:hidden">

          <!-- MOBILE BUTTON -->
          <button
            id="mobileWhoBtn"
            class="mobile-btn lg:p-2.5 flex w-full items-center justify-between font-medium text-heading text-black focus:text-[#0495CF] lg:hidden"
          >
            Who we are
            <svg
              id="who-arrow"
              class="mobile-arrow w-4 h-4 transition-transform duration-300"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-width="2" d="m19 9-7 7-7-7"/>
            </svg>
          </button>

          <!-- MOBILE DROPDOWN LINKS -->
          <div
            id="who-we-are-mobile"
            class="mobile-dropdown hidden lg:hidden mt-2 rounded-xl space-y-1"
          >
            <a href="#" class="block px-2">Company Overview</a>
            <a href="#" class="block px-2">Leadership Team</a>
            <a href="#" class="block px-2">Award Certification</a>
            <a href="#" class="block px-2">CSR</a>
          </div>

        </li>

        <!-- * What we do Desktop View  -->
        <li class="hidden lg:block">
          <button
            id="what-we-do-dropdown-button" data-dropdown-toggle="WhatWeDoDropdown"
            class="flex lg:p-2.5 w-full cursor-pointer focus:bg-[rgba(4,149,207,0.1)] font-medium text-heading text-black hover:text-[#0495CF] transition-colors ease-in-out duration-200 items-center justify-between"
          >
            What we do
            <svg
              class="w-4 h-4
                ms-1.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
              ><path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 9-7 7-7-7"></path></svg
            >
          </button>
        </li>

        <!-- * What we do Mobile View -->
        <li class="w-full lg:w-auto lg:hidden">
          <button
            id="mobileWhatBtn"
            class="mobile-btn flex w-full items-center justify-between font-medium text-heading text-black focus:text-[#0495CF] lg:hidden"
          >
            What we do
            <svg
              id="what-arrow"
              class="mobile-arrow w-4 h-4 transition-transform duration-300"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-width="2" d="m19 9-7 7-7-7"/>
            </svg>
          </button>


          <div
            id="what-we-do-mobile"
            class="mobile-dropdown hidden lg:hidden mt-2 rounded-xl space-y-1"
          >
            <a href="#" class="block px-2">About</a>
            <button id="industries-served-area" class="block px-2 flex w-full items-center justify-between font-medium text-heading text-black">Industries Served
              <svg
              id="industries-arrow"
              class="mobile-arrow w-4 h-4 transition-transform duration-300"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-width="2" d="m19 9-7 7-7-7"/>
            </svg>  
            </button>
              <div id="industries-served-mobile" class="inner-dropdown hidden flex flex-col space-y-1 px-5">
                    <a href="#" >AI Automation</a>
                    <a href="">Insurance</a>
                    <a href="">Retails & Hospitality</a>
                    <a href="">Travel</a>
                    <a href="#">Healthcare</a>
                    <a href="">Media & Entertainment</a>
                    <a href="">Real Estate</a>
                    <a href="">Ecommerce</a>
              </div>


            <button id="services-served" class="px-2 flex w-full items-center justify-between font-medium text-heading text-black">Services
              <svg
              id="services-arrow"
              class="w-4 h-4 transition-transform duration-300"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-width="2" d="m19 9-7 7-7-7"/>
            </svg>  
            </button>
              <div id="services-served-mobile" class="inner-dropdown hidden flex flex-col space-y-1 px-5">
                    <a href="#" >Product Engineering</a>
                    <a href="">Web Application Development</a>
                    <a href="">Quality Assurance</a>
                    <a href="">Ecommerce Solution</a>
                    <a href="#">Dedicated Development Center</a>
              </div>


            <button id="technology-partnership-area" class="px-2 flex w-full items-center justify-between font-medium text-heading text-black">Technology Partnership
              <svg
              id="technology-partnership-arrow"
              class="w-4 h-4 transition-transform duration-300"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-width="2" d="m19 9-7 7-7-7"/>
            </svg>  
            </button>
              <div id="technology-partnership-mobile" class="inner-dropdown hidden flex flex-col space-y-1 px-5">
                    <a href="#" >Product Engineering</a>
                    <a href="">Web Application Development</a>
                    <a href="">Quality Assurance</a>
                    <a href="">Ecommerce Solution</a>
                    <a href="#">Dedicated Development Center</a>
              </div>
          </div>
        </li>

        <!-- * Resources Desktop View -->
        <li class="hidden lg:block">
            <button id="resources-dropdown-button" data-dropdown-toggle="ResourcesDropdown" class="focus:bg-[rgba(4,149,207,0.1)] flex lg:p-2.5 hover:text-[#0495CF] transition-colors ease-in-out duration-200 w-full cursor-pointer font-medium text-heading text-black items-center justify-between">
              Resources
              <svg class="w-4 h-4 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"
              ><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"></path></svg>
          </button>
        </li>

        <!-- * Resources Mobile View -->
        <li class="w-full lg:w-auto lg:hidden">
          <button
            id="mobileResourceBtn"
            class="mobile-btn flex w-full items-center justify-between font-medium text-heading text-black focus:text-[#0495CF] lg:hidden"
          >
            Resources
            <svg
              id="resources-arrow"
              class="mobile-arrow w-4 h-4 transition-transform duration-300"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-width="2" d="m19 9-7 7-7-7"/>
            </svg>
          </button>


          <div
            id="resources-mobile"
            class="mobile-dropdown hidden lg:hidden mt-2 rounded-xl space-y-1"
          >
            <a href="#" class="block px-2">Overview</a>
            <button id="case-study-area" class="px-2 flex w-full items-center justify-between font-medium text-heading text-black">Case Study
              <svg
              id="case-study-arrow"
              class="mobile-arrow w-4 h-4 transition-transform duration-300"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-width="2" d="m19 9-7 7-7-7"/>
            </svg>  
            </button>
              <div id="case-study-mobile" class="inner-dropdown hidden flex flex-col space-y-1 px-5">
                    <a href="#" >AI Sales Automation Platform</a>
                    <a href="">Helpdesk Management System</a>
                    <a href="">Ticket Booking System</a>
                    <a href="">Reward Loyalty Program</a>
                    <a href="#">Health Counselling Web Application</a>
                    <a href="#" >Healthcare Software Solution</a>
                    <a href="">Multivendor Insurance portal</a>
                    <a href="">Travel & Tourism Portal</a>
                    <a href="">Multivendor Ecommerce Portal</a>
                    <a href="#">Stock Tracker Web App</a>
                    <a href="#">Construction Equipment App</a>
              </div>
            <a href="#" class="block px-2">Blogs</a>
            <a href="#" class="block px-2">Business Events</a>
          </div>

        </li>

        <li>
          <a
            href="#"
            class="block text-black lg:p-2.5 hover:text-[#0495CF] transition-colors ease-in-out duration-200
                text-heading font-medium"
            >Career</a
          >
        </li>
      </ul>
    </div>
  </div>
  
  <!-- Dropdown menu -->
  <div id="dropdownNavbar" data-default="overview"  class="z-10 hidden  lg:min-h-[60vh] py-2 lg:px-[50px] grid grid-cols-12 rounded-base w-full! translate-y-[23px]">
      <div class="lg:grid grid-cols-4 col-span-12 2xl:col-span-10 2xl:col-start-2 border border-[#CCCCCC] bg-[#F6FBFE] shadow-[0px_0px_6px_0px_rgba(0,0,0,0.15)] rounded-xl p-10  gap-[30px] xl:gap-10">

          <div class="space-y-8">
            <div class="space-y-5">
              <p class="text-[#0FA1DB] font-semibold text-lg xl:text-xl border-b border-[#D0DDE2] pb-5">Company Overview</p>
              <div class="space-y-3">
                  <h5 class="text-[#21292C] text-xl font-bold">We're dedicated to fostering positive change for everyone.</h5>
                  <p class="text-[#2C363A] leading-[150%]">With our dedicated team, we turn beliefs into action every day, leveraging innovation and collective knowledge to achieve the extraordinary.</p>
              </div>
            </div>

            <a href="/" class="relative group h-fit w-fit rounded-full border border-[#D0DDE2] flex items-center py-2 lg:py-3 px-3.5 lg:px-5 font-semibold overflow-hidden cursor-pointer">
              <!-- Gradient overlay -->
              <span class="absolute inset-0 rounded-full bg-[linear-gradient(90deg,#0FA1DB,#5C2D91)] opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out"></span>

              <!-- Content -->
              <span class="relative z-10 flex items-center"> <p class="font-semibold text-[#2C363A] group-hover:text-white transition-colors duration-500"> Company Overview </p>
                <img src={Arrow2.src} alt="arrow" class="block group-hover:hidden pl-2.5" />
                <img src={Arrow.src} alt="arrow" class="hidden group-hover:block pl-2.5" />
              </span>
            </a>

          </div>

          <div class="space-y-8">
            <div class="space-y-5">
              <p class="text-[#0FA1DB] font-semibold text-lg xl:text-xl border-b border-[#D0DDE2] pb-5">Leadership Team</p>
              <div class="space-y-3">
                  <h5 class="text-[#21292C] text-xl font-bold">Meet Our Dynamic Leadership Team</h5>
                  <p class="text-[#2C363A] leading-[150%]">Get to know the visionary minds behind our success. Learn about our experienced leadership team driving innovation, guiding strategy, and inspiring excellence in everything we do.</p>
              </div>
            </div>
            <a href="/" class="relative group h-fit w-fit rounded-full border border-[#D0DDE2] flex items-center py-2 lg:py-3 px-3.5 lg:px-6 font-semibold overflow-hidden cursor-pointer">
              <!-- Gradient overlay -->
              <span class="absolute inset-0 rounded-full bg-[linear-gradient(90deg,#0FA1DB,#5C2D91)] opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out"></span>

              <!-- Content -->
              <span class="relative z-10 flex items-center"> <p class="font-semibold text-[#2C363A] group-hover:text-white transition-colors duration-500"> About our Leadership Team </p>
                <img src={Arrow2.src} alt="arrow" class="block group-hover:hidden pl-2.5" />
                <img src={Arrow.src} alt="arrow" class="hidden group-hover:block pl-2.5" />
              </span>
            </a>
          </div>

          <div class="space-y-8">
            <div class="space-y-5">
              <p class="text-[#0FA1DB] font-semibold text-lg xl:text-xl border-b border-[#D0DDE2] pb-5">Awards Certifications</p>
              <div class="space-y-3">
                  <h5 class="text-[#21292C] text-xl font-bold">Celebrating Excellence: Our Awards & Recognition</h5>
                  <p class="text-[#2C363A] leading-[150%]">Discover the accolades that highlight our commitment to excellence. Explore the awards and recognition earned by our team for innovation, quality, and outstanding contributions to the IT industry.</p>
              </div>
            </div>

            <a href="/" class="relative group h-fit w-fit rounded-full border border-[#D0DDE2] flex items-center py-2 lg:py-3 px-3.5 lg:px-5 font-semibold overflow-hidden cursor-pointer">
              <!-- Gradient overlay -->
              <span class="absolute inset-0 rounded-full bg-[linear-gradient(90deg,#0FA1DB,#5C2D91)] opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out"></span>

              <!-- Content -->
              <span class="relative z-10 flex items-center"> <p class="font-semibold text-[#2C363A] group-hover:text-white transition-colors duration-500"> See our Awards & Recognition </p>
                <img src={Arrow2.src} alt="arrow" class="block group-hover:hidden pl-2.5" />
                <img src={Arrow.src} alt="arrow" class="hidden group-hover:block pl-2.5" />
              </span>
            </a>

          </div>

          <div class="space-y-8">
            <div class="space-y-5">
              <p class="text-[#0FA1DB] font-semibold text-lg xl:text-xl border-b border-[#D0DDE2] pb-5">CSR</p>
              <div class="space-y-3">
                  <h5 class="text-[#21292C] text-xl font-bold">Making a Difference: Our CSR Initiatives</h5>
                  <p class="text-[#2C363A] leading-[150%]">Learn about our commitment to corporate social responsibility and community engagement. Explore how we contribute to social causes, support sustainability, and make a positive impact on the world around us.</p>
              </div>
            </div>

            <a href="/" class="relative group h-fit w-fit rounded-full border border-[#D0DDE2] flex items-center py-2 lg:py-3 px-3.5 lg:px-6 font-semibold overflow-hidden cursor-pointer">
              <!-- Gradient overlay -->
              <span class="absolute inset-0 rounded-full bg-[linear-gradient(90deg,#0FA1DB,#5C2D91)] opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out"></span>

              <!-- Content -->
              <span class="relative z-10 flex items-center"> <p class="font-semibold text-[#2C363A] group-hover:text-white"> More about our CSR </p>
                <img src={Arrow2.src} alt="arrow" class="block group-hover:hidden pl-2.5" />
                <img src={Arrow.src} alt="arrow" class="hidden group-hover:block pl-2.5" />
              </span>
            </a>
          </div>
      </div>
  </div>

  <div id="WhatWeDoDropdown" data-default="about" class="z-10 hidden lg:min-h-[60vh] py-2 lg:px-[50px] grid grid-cols-12 rounded-base w-full! translate-y-[23px]">
      <div class="lg:grid grid-cols-[2fr_2fr_2.5fr_3.5fr] col-span-12  2xl:col-span-10 2xl:col-start-2 border border-[#CCCCCC] bg-[#F6FBFE] shadow-[0px_0px_6px_0px_rgba(0,0,0,0.15)] rounded-xl p-10  gap-[30px] xl:gap-10">

          <div class="space-y-8">
            <div class="space-y-5">
              <p class="text-[#0FA1DB] font-semibold text-lg xl:text-xl border-b border-[#D0DDE2] pb-5">About</p>
              <div class="space-y-3">
                  <h5 class="text-[#21292C] text-xl font-bold">At GIRIRAJ DIGITAL, we believe in the transformative power of technology.</h5>
                  <p class="text-[#2C363A] leading-[150%]">With a legacy of over 6+ years, we're pioneering innovation to drive growth and create brighter futures worldwide.</p>
              </div>
            </div>

            <a href="/" class="relative group h-fit w-fit rounded-full border border-[#D0DDE2] flex items-center py-2 lg:py-3 px-3.5 lg:px-5 font-semibold overflow-hidden cursor-pointer">
              <!-- Gradient overlay -->
              <span class="absolute inset-0 rounded-full bg-[linear-gradient(90deg,#0FA1DB,#5C2D91)] opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out"></span>

              <!-- Content -->
              <span class="relative z-10 flex items-center"> <p class="font-semibold text-[#2C363A] group-hover:text-white transition-colors duration-500"> More About GD </p>
                <img src={Arrow2.src} alt="arrow" class="block group-hover:hidden pl-2.5" />
                <img src={Arrow.src} alt="arrow" class="hidden group-hover:block pl-2.5" />
              </span>
            </a>

          </div>

          <div class="space-y-5">
            <p class="text-[#0FA1DB] font-semibold text-lg xl:text-xl border-b border-[#D0DDE2] pb-5">Industries Served</p>
            <div class="space-y-4">
                {
                  AiAutomation.map((item: any) => (
                    <a href={item.Link} class="group flex space-x-3 w-full transition-all ease-in-out duration-300">
                      <p class="text-[#2C363A]  hover: leading-[150%] group-hover:font-semibold transition-all ease-in-out duration-300 group-hover:translate-x-1" > {item.Text} </p>
                      <img src={Arrow2.src} alt="arrow" class="opacity-0 -translate-x-1.5 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
                    </a>
                  ))
                }
            </div>
          </div>

          <div class="space-y-5">
            <p class="text-[#0FA1DB] font-semibold text-lg xl:text-xl border-b border-[#D0DDE2] pb-5">Services</p>
            {
                Services.map((item: any) => (
                  <a href={item.Link} class="group flex space-x-3 w-full transition-all ease-in-out duration-300">
                      <p class="text-[#2C363A]  hover: leading-[150%] group-hover:font-semibold transition-all ease-in-out duration-300 group-hover:translate-x-1" > {item.Text} </p>
                      <img src={Arrow2.src} alt="arrow" class="opacity-0 -translate-x-1.5 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
                  </a>
                ))
            }

          </div>

          <div class="space-y-5 ">
            <p class="text-[#0FA1DB] font-semibold text-lg xl:text-xl border-b border-[#D0DDE2] pb-5">Technology Partnership</p>
            <div class="grid grid-cols-2 gap-[30px]">
              <div class="space-y-4">  
                {
                  TechnologyPartnership1.map((item: any) => (
                    <a href={item.Link} class="group flex space-x-3 w-full transition-all ease-in-out duration-300">
                      <p class="text-[#2C363A]  hover: leading-[150%] group-hover:font-semibold transition-all ease-in-out duration-300 group-hover:translate-x-1" > {item.Text} </p>
                      <img src={Arrow2.src} alt="arrow" class="opacity-0 -translate-x-1.5 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
                    </a>
                  ))
                }
              </div>

              <div class="space-y-4">  
                {
                  TechnologyPartnership2.map((item: any) => (
                    <a href={item.Link} class="group flex space-x-3 w-full transition-all ease-in-out duration-300">
                        <p class="text-[#2C363A]  hover: leading-[150%] group-hover:font-semibold transition-all ease-in-out duration-300 group-hover:translate-x-1" > {item.Text} </p>
                        <img src={Arrow2.src} alt="arrow" class="opacity-0 -translate-x-1.5 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
                      </a>
                  ))
                }
              </div>
            </div>


          </div>
      </div>
  </div>

  <div id="ResourcesDropdown" data-default="resource-overview" class="z-10 hidden  lg:min-h-[60vh] py-2 lg:px-[50px] grid grid-cols-12 rounded-base w-full! translate-y-[23px]">
      <div class="lg:grid grid-cols-4 col-span-12 2xl:col-span-10 2xl:col-start-2 border border-[#CCCCCC] bg-[#F6FBFE] shadow-[0px_0px_6px_0px_rgba(0,0,0,0.15)] rounded-xl p-10  gap-[30px] xl:gap-10">
          <div class="space-y-5 col-span-2">
            <p class="text-[#0FA1DB] font-semibold text-lg xl:text-xl border-b border-[#D0DDE2] pb-5">Case Study</p>
            <div class="grid grid-cols-2 gap-[30px]">
              <div class="space-y-4">
                {
                  CaseStudy1.map((item: any) => (
                    <a href={item.Link} class="group flex items-center space-x-3 w-full transition-all duration-300 ease-in-out" >
                      <p class="text-[#2C363A] text-lg leading-[150%] transition-all duration-300 ease-in-out group-hover:font-semibold group-hover:translate-x-1">{item.Text}</p>

                      <img src={Arrow2.src} alt="arrow" class="opacity-0 -translate-x-1.5 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
                    </a>
                  ))
                }

              </div>

              <div class="space-y-4">
                {
                    CaseStudy2.map((item: any) => (
                      <a href={item.Link} class="group flex space-x-3 w-full transition-all ease-in-out duration-300">
                        <p class="text-[#2C363A]  hover: leading-[150%] group-hover:font-semibold transition-all ease-in-out duration-300 group-hover:translate-x-1" > {item.Text} </p>
                        <img src={Arrow2.src} alt="arrow" class="opacity-0 -translate-x-1.5 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
                      </a>
                    ))
                }
              </div>
            </div>

          </div>

          <div class="space-y-8">
            <div class="space-y-5">
                <p class="text-[#0FA1DB] font-semibold text-lg xl:text-xl border-b border-[#D0DDE2] pb-5">Blogs</p>
                <div class="space-y-3">
                    <h5 class="text-[#21292C] text-xl font-bold">Insights Hub: Explore Our IT Blogs</h5>
                    <p class="text-[#2C363A] leading-[150%]">Unlock a treasure trove of knowledge with our IT blogs. Delve into expert insights, industry trends, and innovative solutions that empower your business growth and digital transformation journey.</p>
              </div>
            </div>

            <a href="/" class="relative group h-fit w-fit rounded-full border border-[#D0DDE2] flex items-center py-2 lg:py-3 px-3.5 lg:px-5 font-semibold overflow-hidden cursor-pointer">
              <!-- Gradient overlay -->
              <span class="absolute inset-0 rounded-full bg-[linear-gradient(90deg,#0FA1DB,#5C2D91)] opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out"></span>

              <!-- Content -->
              <span class="relative z-10 flex items-center"> <p class="font-semibold text-[#2C363A] group-hover:text-white transition-colors duration-500"> VIEW ALL BLOGS </p>
                <img src={Arrow2.src} alt="arrow" class="block group-hover:hidden pl-2.5" />
                <img src={Arrow.src} alt="arrow" class="hidden group-hover:block pl-2.5" />
              </span>
            </a>
          </div>

          <div class="space-y-8">
            <div class="space-y-5">
              <p class="text-[#0FA1DB] font-semibold text-lg xl:text-xl border-b border-[#D0DDE2] pb-5">Business Events</p>
              <div class="space-y-3">
                  <h5 class="text-[#21292C] text-xl font-bold">Connecting Minds: Our IT Business Events</h5>
                  <p class="text-[#2C363A] leading-[150%]">Join us at our IT business events to connect with industry experts, explore cutting-edge technologies, and gain valuable insights to drive your business forward. Experience networking opportunities and interactive sessions designed to inspire innovation and collaboration.</p>
              </div>
            </div>

            <a href="/" class="relative group h-fit w-fit rounded-full border border-[#D0DDE2] flex items-center py-2 lg:py-3 px-3.5 lg:px-5 font-semibold overflow-hidden cursor-pointer">
              <!-- Gradient overlay -->
              <span class="absolute inset-0 rounded-full bg-[linear-gradient(90deg,#0FA1DB,#5C2D91)] opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out"></span>

              <!-- Content -->
              <span class="relative z-10 flex items-center"> <p class="font-semibold text-[#2C363A] group-hover:text-white transition-colors duration-500"> GD AT GLOBAL </p>
                <img src={Arrow2.src} alt="arrow" class="block group-hover:hidden pl-2.5" />
                <img src={Arrow.src} alt="arrow" class="hidden group-hover:block pl-2.5" />
              </span>
            </a>

          </div>

      </div>
  </div>
</nav>


<script src="../assets/js/navbar.js" />
