---
const { Icon, Title = "", Paragraph = "", Border = true, Padding = true, Bgcolor = null,
} = Astro.props;

// Border classes
const borderClass = Border ? "border-3 lg:border-8 border-[#E9F2FC]" : "";

// Padding classes
const paddingClass = Padding === false ? "p-5 lg:p-10" : "lg:pt-[60px] p-5 lg:px-[110px] lg:pb-10";

// Background style
const bgStyle = Bgcolor ? `background-color: ${Bgcolor};` : "";

---

<div class={`text-center justify-items-center space-y-5 lg:space-y-[30px] rounded-[40px] ${borderClass} ${paddingClass}`} style={bgStyle}>
    <img src={Icon.src} class="w-20 lg:w-auto" alt={Title} />

    <div class="space-y-1">
        { Title && (
            <h4 class="text-[#21292C] font-bold text-xl lg:text-[26px]">{Title}</h4>
        )}
        { Paragraph && (
            <p class="text-[#2C363A] lg:text-lg leading-[150%]">{Paragraph}</p>  
        )}
    </div>
</div>