---
const {BgImage, LiList=[], Title, Heading, Paragraph} = Astro.props;
import Icon from "../assets/images/li-icon.svg"
---

<section class="section-container ">
    <div class="grid grid-cols-12 gap-5 lg:gap-[30px] rounded-2xl p-5 lg:px-0 lg:py-20 xl:py-[100px] bg-cover" style={`background-image: url('${BgImage.src}');`}>
        <div class="col-span-12 lg:col-start-5 lg:col-span-7 xl:col-start-7 xl:col-span-5 p-5 lg:p-[30px] space-y-[30px] bg-white rounded-[20px] outline-3 lg:outline-8 outline-[rgba(255,255,255,0.6)]" >
            <div class="space-y-1.5 md:space-y-3 lg:space-y-5">
                <p class="text-[#0FA1DB] font-semibold lg:text-xl">{Title}</p>
                <h2 class="text-[#21292C] text-[26px] lg:text-4xl xl:text-5xl leading-[120%] font-bold">{Heading}</h2>
            </div>
            
            <ul class="space-y-2 text-[#21292C] font-medium leading-7">
                {LiList.length > 0 &&
                    LiList.map((li: any) => (
                        <li class="list-none relative pl-7 before:content-[''] before:absolute before:left-0 before:top-3.5 before:-translate-y-1/2 before:w-4 before:h-4 before:bg-[url('../assets/images/li-icon.svg')] before:bg-no-repeat before:bg-contain">{li}</li>
                    ))
                }
            </ul>

            {Paragraph && (
                <p class="text-[#21292C] font-medium text-lg lg:text-xl leading-[150%]">{Paragraph}</p>
            )}
        </div>
    </div>
</section>