---
const {Icon, Title="", PrimaryText=[], SecondaryText=[], LiList=[]} = Astro.props;
---

<div class="p-5 md:p-[30px] lg:p-10 xl:p-[60px] space-y-5 lg:space-y-[30px] border-4 lg:border-8 border-[#E9F2FC] rounded-[20px]">
    <img src={Icon.src} alt={Title}>
    <div class="space-y-3">
        <h4 class="text-[#21292C] font-bold text-lg lg:text-[26px]">{Title}</h4>
        <div class="space-y-4 text-[#2C363A] lg:text-lg">
            {PrimaryText.map((text:any) => (
                <p class="leading-[150%]">{text}</p>
            ))}

            {
                LiList.length > 0 && (
                    <ul class="list-decimal list-outside pl-5">
                        {LiList.map((text:any) => (
                            <li class="leading-[150%]">{text}</li>
                        ))}
                    </ul>
                )
            }

            {SecondaryText.map((text:any) => (
                <p class="leading-[150%]">{text}</p>
            ))}
        </div>
    </div>
</div>